<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>
<body>

    <!-- Note: the name property of input is used in the backend part in creating the student schema   -->
    <div class="studentdetails">
        <form action="/create" method="post">
            <label>Full Name</label>
            <input type="text" placeholder="Enter Full Name" name="student_name" required >
            <label>Roll No</label>
            <input type="number" placeholder="Enter Email Address" name="roll_no" required>
            <label>Class/Section</label>
            <input type="text" placeholder="Enter Full City" name="city" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>