

/* EXTERNAL CSS */

body{
    display:flex ;
    flex-direction: row;
}

/* FOR EXTERNAL DIV */
.external{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 198, 208);
    width: 35%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    font-family:sans-serif;
    border-radius: 100px;
    box-shadow: 0px 15px 40px 0px;
}

/* for p in both div */
p{
    font-size: large;
}
