// setting fonts using SASS variables 
$font-pri:Sans-Serif;
$font-sec: Helvetica;
$font-size:1.5rem;

// VARIALBLE IN SASS for navbar 
$background-nav:transparent;
$font-color-nav:rgb(255, 255, 255);

// VARIALBLE IN SASS for navbar 
$background-clickhere:rgb(214, 205, 205);
$font-color-clickhere:rgb(0, 0, 0);

// FUNCTIONS 
// Flex properties
@mixin headings{
    text-align: center;
    font-size: $font-size*3;              //using arithmetic functions of sass
    color: $font-color-nav;
}
 @mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
 }
@mixin flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin wh-set($a,$b){
    width: $a;
    height: $b;
}
@mixin shadow($a,$b,$c,$d ,$e){
    box-shadow: $a $b $c $d $e;
}
@mixin link{
    text-decoration: none;
    font-size: $font-size;
    font-weight: bold;
    color:$font-color-nav;
    font-family: $font-sec;
}
@mixin hover{
    &:hover{
        color: black;
    }
}
// body style
body{
    background-image: url(/task2/R.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover ;
    background-attachment: fixed;
    z-index: -1;
}
// ----------------------------------------NAVBAR----------------------------------------------------------------------------------------------

// Setting navbar values with the help of variables
.navbar{

    background-color: $background-nav;
    // nesting in SASS
    ul{
        @include flex;
        list-style: none;
        // setting responsiveness
        @media screen and (max-width:500px) {
            display: block;
        }
    }
    li{
        padding: 25px 40px;
    }
    a{
        @include link;
    }
    a:hover{
        color: rgb(190, 182, 182);
        font-size: 1.2rem;
    }
}
// ---------------------------------------------------HOME---------------------------------------------------------------------
.home{
    background-color:transparent;
    margin:-6px;
    margin-top: 200px;
    @include flex-col;

    h1,h2{
       @include hover;
       @include headings;
    }

    p{
        color: $font-color-nav;
        @include wh-set(50%,auto);
        margin: auto;
        text-align: center;
        font-size:$font-size;
        font-weight: bold;
        @media screen and (max-width:500px) {
            text-align: center;
        }
        @include hover;

    }
}
// -----------------------------------------------------------JOIN US---------------------------------------------------------------------------------------

.joinus{
    margin-top: 200px;
    @include flex;
    @media screen and (max-width:500px) {
        display: block;
    }

    .img{
        padding: 30px 40px;
        @include flex-col;                                               // Mixin property of SASS
        @include wh-set(195px,auto);
        margin: 8%;
        @include shadow(0px, 20px, 30px, 0px,rgb(248, 242, 242));
        
        img{
           @include wh-set(200px, 200px);                                //using the wh-set function
        }
        h3{
            color: $font-color-nav;
            font-size: $font-size;
        }

        p{
            font-size: large;
            color: $font-color-nav;
        }
    }
}

// ---------------------------------------------------------------------REACH US--------------------------------------------------------------

.reachus{
    @include flex-col;
    @include shadow(0px, 0px, 50px, 0px,rgb(148, 145, 145));
    color: $font-color-nav;
    margin-top: 20%;
    border-radius: 20px;
    h1{
        @include hover;
        font-size: 3rem;
    }
    .icon{
        margin-top: 1%;
        a{
            padding-left:10px; 
            @include link;
        }
        a:hover{
            color: rgb(190, 182, 182);
            font-size: 1.2rem;
        }
    }
}

// --------------------------------------------------------------------------------------------------------------------------------------------



