/* ------BODY---------- */
/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


/* (A) ON BIG SCREEN */
.thegrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
    border: 1px solid black;
    border-collapse: collapse; 
  }
  /* (B) ON SMALL SCREEN */
  @media screen and (max-width:768px) {
    .thegrid { grid-template-columns: auto auto auto auto;
    /* border: 1px solid black; } */
}
  }
/* -------------------------------row and head-------------------------------------------- */
  .head{
    border: 1px solid black;
    background-color: rgb(233, 226, 226);
    padding:10px 80px;
    padding-left: 3px;
  }

  .cell{
    border: 1px solid black;
    padding:10px 80px;
    padding-left: 3px;
    
  }

  .headsub{
    /* border: 1px solid black; */
    /* border-left: 1px solid black; */
    background-color: hwb(0 89% 9%);
    border-bottom:1px solid black ;
    border-top:1px solid black ;
    padding:10px 80px;
    padding-left: 3px;
    
  }
/* --- -----------------------table 2------------------------------------------ */
 

.headfav{
  background-color: hwb(0 89% 9%) ;
  border-top: 1px solid black;
  border-top: rgb(232, 227, 227);
  text-align: center;
  
  
}
/* FOR EMPTY DIV BLOCKS */
.heademp{
  background-color: rgb(232, 227, 227) ;
  border-bottom: 1px solid black;
}