body{
    background-color: blanchedalmond;
}
.home{

    width: 100px;
    height: 50px;
}





div{
   
    width: 300px;
   margin:auto;
   margin-top: auto;
   
}

img{
    width: 200px;
    height:50;

}

.home:hover{

    background-color: rgb(255, 0, 34);
}