.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-set {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.3rem;
  padding: 20px 40px;
}
.legend-set {
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset {
  background-color: beige;
  width: 25%;
  margin-top: 10%;
  box-shadow: 0px 15px 40px 0px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.3rem;
  padding: 20px 40px;
}
legend {
  font-size: 1.3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
