*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar */


#navbar{
    position: relative;
    display: flex;
    align-items: center;
}

/* Navigation bar logo and image  */
#logo{
    margin: 10px 10px;
}

#logo img{
    width: 80px;
    height: 80px;
}

/* ul */
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    width: 100%;
    height: 450%;
    z-index: -1;
    opacity: 0.4;
    position: absolute;
}


/* navbar ul li  a */

#navbar ul li{
    
    list-style: none;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 16px 15px;
    border-radius: 10px;
}

#navbar ul li a:hover{
    color: black;
    background-color:wheat ;
}
/* ------------------------------------------------------------------------------------------- */

/* HOME SECTION */

#home{
    display: flex;
    flex-direction: column;
    padding: 38px 53px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url("/bg.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    
}

/* -------------------------------------------------------------------------------------------------------- */

/* Utility classes */

.h-primary{
    font-size: 3.8rem;
    padding: 20px;
}
/* ------------------------------------------------------------------------------------------------------------ */
#home h1{
    font-family: 'Times New Roman', Times, serif;
    color:black;
}

#home p{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 21px;
}


/* ----------------------------------------------------------------------------------------------- */
.services{
    
    display: flex;
    flex-direction: column;
    padding: 38px 53px;
    justify-content: center;
    align-items: center;
    
}
.services p{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 21px;
}

#h-secondary{
    font-size: 2.5rem;
}

/* --------------------------------------------------------------------------------------------------------------- */

#contact{
    
    background-color: rgba(202, 194, 194, 0);
    display: flex;
    flex-direction: column;
    padding: 38px 53px;
    justify-content: center;
    align-items: center;
    
}

.contactlist{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 21px;
}

.contactlist dd{
    padding: 10px 10px;
}