.headings {
  text-align: center;
  font-size: 4.5rem;
  color: #ffffff;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: Helvetica;
}
body {
  background-image: url(/task1/backgound.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover ;
  background-attachment: fixed;
  z-index: -1;
}
.navbar {
  background-color: transparent;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
@media screen and (max-width: 500px) {
  .navbar ul {
    display: block;
  }
}
.navbar li {
  padding: 25px 40px;
}
.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: Helvetica;
}
.navbar a:hover {
  color: #beb6b6;
  font-size: 1.2rem;
}
.home {
  background-color: transparent;
  margin: -6px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home h1,
.home h2 {
  text-align: center;
  font-size: 4.5rem;
  color: #ffffff;
}
.home p {
  color: #ffffff;
  width: 50%;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .home p {
    text-align: center;
  }
}
.joinus {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .joinus {
    display: block;
  }
}
.joinus .img {
  padding: 30px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 195px;
  height: auto;
  margin: 8%;
  box-shadow: 0px 20px 30px 0px #f8f2f2;
}
.joinus .img img {
  width: 200px;
  height: 200px;
}
.joinus .img h3 {
  color: #ffffff;
  font-size: 1.5rem;
}
.joinus .img p {
  font-size: large;
  color: #ffffff;
}
.reachus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 50px 0px #949191;
  color: #ffffff;
  margin-top: 20%;
  border-radius: 20px;
}
.reachus h1 {
  font-size: 3rem;
}
.reachus .icon {
  margin-top: 1%;
}
.reachus .icon a {
  padding-left: 10px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: Helvetica;
}
.reachus .icon a:hover {
  color: #beb6b6;
  font-size: 1.2rem;
}
