*{
    margin:0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.3rem;
}

.header{
    font-size: 3rem;
    background-color: blue;
    color: white;
    width: 100%;
    text-align: center;
}

.source-dest{
    padding: 42px 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.button{
    padding: 15px 15px;
    font-size: 1.3rem;
}

.select{
    padding: 15px 15px;
    font-size: 1.3rem;
}

option{
    padding: 15px 15px;
    font-size: 1.3rem;
}