#myform{
    box-shadow: 20px 20px 20px 20px lightgray;
    background-color: bisque;
    width:50%;
    margin:auto;
    margin-top: 10%;
    font-family: monospace;
    font-size:1.5rem ;
    
}
input{
    height: 30px;
    width: auto;
    
}
select{
    height: 30px;
    width: auto;
}
 label{
    display: block;
 }
