#myform{
    box-shadow: 20px 20px 20px 20px lightgray;
    background-color: bisque;
    width:50%;
    margin:auto;
    margin-top: 5%;
    font-family: monospace;
    font-size:1rem ;
    
    
}
input{
    height: 15px;
    width: auto;
    
    
}
select{
    height: 30px;
    width: auto;
}
 
#address{
    width: 400px;
    height: 45px;
}

#button{
    height: 30px;
    width: 100px;
    margin: auto;    
}